@media (max-width: 770px) {

    .hero {
        padding-top: 117px;
        padding-bottom: 135px;
    }

    .hero__content {
        padding-top: 15px;
    }

    .hero__title {
        margin-bottom: 15px;
        font-size: 50px;
        line-height: 100%;
    }

    .hero__descr {
        max-width: 88%;
        margin-bottom: 63px;
        font-size: 18px;
        line-height: 150%;
    }

    .btn {
        padding: 23px 78px;
    }

    .benefits {
      padding-bottom: 74px;
    }

    .benefits__item {
        padding: 96px 0 0;
        padding-left: 0px;
        background-position: top left;
    }

    .beneftis__caption {
      display: inline-block;
      max-width: 98%;
    }

    .teachers {
      padding-bottom: 49px;
    }

    .teachers__card-margin:nth-last-child(n + 3) {
      margin-bottom: 18px;
    }

    .courses {
      padding: 75px 0 81px;
    }

    .courses__title {
      margin-bottom: 25px;
    }

    .courses__item-body {
      width: 100%;
      min-height: 371px;
    }

    .card-margin:nth-last-child(n + 3) {
      margin-bottom: 30px;
    }

    .courses__btn {
      padding: 23px 56px;
    }

    .course__hours {
      top: 9px;
      right: 11px;
    }
}

@media (max-width: 600px) {
  .header__content {
    justify-content: center;
  }

  .header__logo {
    padding-bottom: 28px;
  }

  .hero__pic {
    display: none;
  }

  .hero {
    padding-top: 63px;
  }

  .hero__content {
    margin-left: -15px;
    margin-right: -15px;
  }

  .hero__descr {
    max-width: 67%;
  }

  .flex__no-wrap {
    flex-wrap: nowrap;
  }
}

@media (max-width:378px) {
  .header__logo {
    padding: 0;
    margin-right: auto;
  }

  .header__container {
    flex-direction: row;
  }

  .menu-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--font-color);
    text-decoration: none;
  }

  .menu-item:not(:last-child) {
    margin-bottom: 56px;
  }

  .nav {
    display: none;
  }

  .header__burger {
    display: block;
    z-index: 100;
    width: 20px;
    height: 16px;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
  }

  .header__burger:before, .header__burger:after {
    content: "";
    height: 3px;
    right: 0;
    width: 100%;
    background-color: var(--font-color);
    position: absolute;
   transition: width .3s ease-in-out, background-color .3s ease-in-out, transform .3s ease-in-out;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger:active:not(.active):after {
    width: 60%;
  }

  .header__burger:active:not(.active) .btn-line {
    width: 80%;
  }

  .header__burger.active .btn-line {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg) translate(calc(50% - 8px), calc(-50% + 11px));
  }

  .header__burger.active:after {
    transform: rotate(-45deg) translate(calc(50% - 10px), calc(-50% - 6px));
  }

  .menu {
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    min-height: 1034px;
    padding: 131px 20px 40px 15px;
    background-color: var(--main-color);
    transition: transform .3s ease-in-out;
    transform: translateX(-101%);
  }

  .menu.is-active {
    transform: none;
  }

  .btn-line {
    height: 3px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background-color: var(--font-color);
    display: block;
    position: absolute;
    transition: width .3s ease-in-out, background-color .3s ease-in-out, transform .3s ease-in-out;
  }

  .burger {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    border: 1px solid #333;
    cursor: pointer;
  }

  .hero {
    padding-top: 25px;
    padding-bottom: 49px;
  }

  .hero__content {
    margin: 0;
    padding-top: 25px;
  }

  .hero__title {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .hero__descr {
    margin-bottom: 43px;
    max-width: 100%;
    font-size: 16px;
    line-height: 129%;
  }

  .btn {
    padding: 20px 51px;
    font-size: 17px;
  }

  .benefits {
    padding-bottom: 27px;
  }


  .benefits__img {
    display: none;
  }

  .benefits__descr {
    max-width: 282px;
  }

  .benefits__item {
    padding: 7px 0 25px;
    padding-left: 108px;
    background-position: center left;
}
  .teachers {
    padding-top: 37px;
  }

  .teachers__title {
    margin-bottom: 18px;
    font-size: 20px;
  }

 .teachers__card-margin:not(:last-child) {
   margin-bottom: 20px;
 }

 .card-margin:not(:last-child) {
  margin-bottom: 15px;
}

  .benefits {
    padding-top: 50px;
  }

  .benefits__title {
    margin-bottom: 0px;
    max-width: 100%;
    font-size: 20px;
    line-height: 28px
}

  .courses {
  padding: 30px 0 73px;
}

  .courses__title {
    font-size: 20px;
}

    .courses__item-body {
      min-height: 461px;
    }
    .card-margin:not(:last-child) {
      margin-bottom: 30px;
    }
}
